/*
Company:  CFPT-I
Author:  Arthur Jegge <arthur.jgg2@eduge.ch>
Project:  Runix
Details:  the css of the file index.html
Date: 24.03.2022
Version: 1.0
*/

body {
    display: flex;
    flex-direction: column;
}

header {
    flex-grow: 1;
}

main {
    flex-grow: 9;
}

.container {
    position: absolute;
    width: 500px;
    height: 400px;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    overflow: hidden;
}

.wall {
    position: absolute;
    transform-style: preserve-3d;
    background-color: red;
    border: 1px solid black;
}

.spawn-area {
    position: absolute;
    background-color: royalblue;
}